body {
    color: #E8E8E8;
    margin: 0;
    padding: 0;
    cursor: url('../imgs//cursor.png'), auto;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: radial-gradient(ellipse at center, #32101e 0%,#441e39 31%,#150c1b 100%) !important;
}