body {
    background-color: #060606;
}


.infoContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-items: center;
    width: 100%;
    max-width: 1080px;
    padding-top: 200px;
    margin: 0 auto;
}

.abilitiesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-items: center;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

.header-section {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    max-width: 1080px;
    margin: 0 auto;
    font-size: 35px;
    img {
        width: 1080px;
        align-self: center;
        padding-top: 40px;
    }
    .vertical-text {
        // position: absolute;
        font-size: 18px;
        letter-spacing: 5px;
        // top: 86%;
        // left: -7%;
        transform: rotate(-90deg);
    }
    .header-text {
        display: flex;
        padding-top: 50px;
        h1 {
            margin-left: -50px;
            
        }
    }
}

.header-section2 {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 50px;
    font-size: 35px;
    .vertical-text2 {
        font-size: 16px;
        letter-spacing: 5px;
        transform: rotate(-90deg);
        margin-right: -120px;
    }
    .header-text2 {
        display: flex;
        flex-direction: row-reverse;
        text-align: end;
        h1 {
            margin-right: 50px;
        }
    }
}


.lore-p {
    max-width: 1080px;
    margin: 0 auto;
}

.lore-p2 {
    text-align: end;
    max-width: 1080px;
    margin: 0 auto;
}

.abilities {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  
  .img-hover {
    position: relative;
    display: inline-block;
    img {
      margin: 0;
    }
  }
  
  .hover-text {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
    width: 300px;
  }
  
  .img-hover:hover .hover-text {
    visibility: visible;
    opacity: 1;
  }

  .ability-letter-home {
    font-size: 13px;
    text-align: center;
    position: absolute; /* Position the h1 absolutely */
    // top: %; /* Place the h1 50% from the top of the container */
    left: 50%; /* Place the h1 50% from the left of the container */
    transform: translate(-50%, -50%); /* Center the h1 both horizontally and vertically */
    z-index: 1;
    border: 1px solid black;
    width: 15px;
    height: 15px;
    background-color: #060606;
    padding: 1px;
  }

  .trynd-abilities {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

//   .ability-vid {
//     video {
//         width: 100%;
//         height: 100%;
//         aspect-ratio: 16/9;
//     }
//   }