body {
    
    background-color: #060606;
}

.main {
    
}

.hero-section {
    width: 100%;
    height: 100vh;
    .hero-container {
        width: 100%;
        height: 100%;
    }
}

img {
    max-width: 1400px;
    height: 100%;
    object-fit: cover;
    
  }

.infoContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-items: center;
    width: 100%;
    max-width: 1400px;
    height: 100vh;
    margin: 0 auto;
}

.abilitiesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-items: center;
    width: 100%;
    max-width: 1400px;
    height: 100vh;
    margin: 0 auto;
}