.containerNav {
    // background-color: #626B6A;
    position: absolute;
    z-index: 1;
    width: 100%;
    ul {
        padding: 30px;
        margin: 0;
        display: flex;
        justify-content: center;
        list-style: none;
        a {
            text-decoration: none;
            li {
                font-size: 17px;
                font-weight: bolder;
                margin-right: 100px;
                color: #ffffff;
            }
        }
    }
    
}